# Pastas do build
node_modules/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
flutter/.dart_tool/

# Arquivos sensíveis
.env
*.iml
*.log
semsub@gmail.com*
id_ed25519*
id_rsa*

# Configurações IDEs
.idea/
.vscode/
